<!DOCTYPE HTML>

{% set main_urls = {
	'home' : url_for('home.main_route'),
	'program' : url_for('info.program_route'),
	'members' : url_for('info.members_route'),
	'support' : url_for('support.main_route')
}
%}

<html>
	<head>
		<title>{% block title %}Seven Mile Coding{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/html5shiv.js') }}"></script><![endif]-->
		<link rel="stylesheet" href="{{ url_for('static', filename='css/hyperspace/main.css') }}" />
		<!--[if lte IE 9]><link rel="stylesheet" href="{{ url_for('static', filename='css/hyperspace/ie9.css') }}" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ url_for('static', filename='css/hyperspace/ie8.css') }}" /><![endif]-->

		<script async src="https://www.googletagmanager.com/gtag/js?id=UA-107995560-1"></script>
		<script>
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'UA-107995560-1');
		</script>

		{% block css %}{% endblock %}

	</head>
	<body>

		{% set homeSidebar %}
				<nav>
					<ul>
						<li><a href="#intro">Welcome</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#details">Details</a></li>
						<li><a href="#contact">Get in touch</a></li>
					</ul>
				</nav>
		{% endset %}
		{% set navMenu %}
				<nav>
					<ul>
						<li><a href="{{ main_urls.home }}">Home</a></li>
						<li><a href="{{ main_urls.program }}">Our Program</a></li>
						<li><a href="{{ main_urls.members }}">Our Members</a></li>
						<li><a href="{{ main_urls.support }}">Support</a></li>
					</ul>
				</nav>
		{% endset %}

		{% if sidebarNav %}
		<section id="sidebar">
			<div class="inner">
				{{ navMenu|safe }}
			</div>
		</section>
		{% elif headerNav %}
		<header id="header">
			<a href="{{ main_urls.home }}" class="title">7MC</a>
			{{ navMenu|safe }}
		</header>
		{% elif indexSidebar %}
		<section id="sidebar">
			<div class="inner">
				{{ homeSidebar|safe }}
			</div>
		</section>
		{% endif %}


		<div id="wrapper">
			{% block content %}
			{% endblock %}
		</div>

		<!-- Footer -->
		<footer id="footer" class="wrapper style1-alt">
			<div class="inner">
				<ul class="menu">
					<li>&copy; Seven Mile Coding. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
				</ul>
			</div>
		</footer>
		
		<!-- Scripts -->
		<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrollex.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/jquery.scrolly.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
		<script src="{{ url_for('static', filename='js/util.js') }}"></script>
		<!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/respond.min.js') }}"></script><![endif]-->
		<script src="{{ url_for('static', filename='js/hyperspace_main.js') }}"></script>

	</body>
</html>