{% set indexSidebar = True %}
{% extends "base.html" %}
{% block title %}Home - Seven Mile Coding{% endblock %}
{% block content %}
<!-- Intro -->
<section id="intro" class="wrapper style1 fullscreen fade-up">
	<div class="inner">
		<h1>Seven Mile Coding</h1>
		<p>Providing free coding lessons for youth in Detroit.</p>
		<ul class="actions">
			<li><a href="#about" class="button scrolly">About 7MC</a></li>
		</ul>
	</div>
</section>

<!-- about -->
<section id="about" class="wrapper style2 spotlights">
	<section>
		<a href="program.html" class="image"><img src="images/dev.svg" alt="" data-position="center center" /></a>
		<div class="content">
			<div class="inner">
				<h2>What we do</h2>
				<p>
					Seven Mile Coding aims to provide resources and lasting opportunities for youth in 
					Detroit to learn about coding. Currently, we work with a community center in Brightmoor, 
					<a href="http://missioncity.org/" target="_blank">Mission City</a>, to create a safe 
					and creative space for inner-city kids to learn free, one-on-one coding lessons. 
				</p>
				<ul class="actions">
					<li><a href="program.html" class="button">Learn more</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section>
		<a href="members.html" class="image"><img src="images/school.svg" alt="" data-position="top center" /></a>
		<div class="content">
			<div class="inner">
				<h2>Who we are</h2>
				<p>
					A group dedicated to teaching coding, run by University of Michigan students 
					studying Computer Science. We are part of the 501(c)3 student 
					organization: <a href="http://sevenmilemusic.org/" target="_blank">Seven Mile Music</a>, 
					whose mission is founded on providing free and accessible education to youth in Detroit. 
				</p>
				<ul class="actions">
					<li><a href="members.html" class="button">Learn more</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section>
		<a href="support.html" class="image"><img src="images/heart.svg" alt="" data-position="25% 25%" /></a>
		<div class="content">
			<div class="inner">
				<h2>Support</h2>
				<p>
					Help us introduce youth to computer science and get them started creating with code.
				</p>
				<ul class="actions">
					<li><a href="support.html" class="button">Learn more</a></li>
				</ul>
			</div>
		</div>
	</section>
</section>

<!-- details -->
<section id="details" class="wrapper style3 fade-up">
	<div class="inner">
		<h2>The Details</h2>
		<div class="features">
			<section>
				<span class="icon major fa-code"></span>
				<h3>Python</h3>
				<p>Our language of choice for a fun intro to coding</p>
			</section>
			<section>
				<span class="icon major fa-calendar-check-o"></span>
				<h3>Weekly Lessons</h3>
				<p>Every week our mentors and students in Brightmoor get together for one-on-one learning</p>
			</section>

		</div>
		<ul class="actions">
			<li><a href="program.html" class="button">Learn more</a></li>
		</ul>
	</div>
</section>

<!-- Contact -->
<section id="contact" class="wrapper style1 fade-up">
	<div class="inner">
		<h2>Get in touch</h2>
		<p>Please reach out to us if you have any questions, or would like to discuss our mission.</p>
		<div class="split style1">
			
			<section>
				<ul class="contact">
					<li>
						<h3>Email</h3>
						<a href="mailto:{{ email }}">{{ email }}</a>
					</li>

					<li>
						<h3>Address</h3>
						<span>413 E Huron St<br/>
						Ann Arbor, Michigan 48104<br/>
						United States</span>
					</li>


					<li>
						<h3>Social</h3>
						<ul class="icons">
							<li><a href="{{ github }}" class="fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="https://www.facebook.com/7mimusic" class="fa-facebook"><span class="label">Facebook</span></a></li>
						</ul>
					</li>

					<!--
					<li>
						<h3>Phone</h3>
						<span>(000) 000-0000</span>
					</li>
					
					<li>
						<h3>Social</h3>
						<ul class="icons">
							<li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
							<li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
						</ul>
					</li>
					-->
				</ul>
			</section>
		</div>
	</div>
</section>

{% endblock %}