{% set sidebarNav = True %}
{% extends "main/base.html" %}
{% block title %}Program - Seven Mile Coding{% endblock %}
{% block content %}
<style>
	.features section {
		padding-left: 6em;
	}
	.features section .icon { left: 1.75em;}
</style>

<!-- Two -->
<section id="two" class="wrapper style3 fade-up">
	<div class="inner">
		<h2>What we do</h2>
		
		<p>
			Seven Mile Coding believes all youth, regardless of background, deserve access to 
			Computer Programming and Computer Literacy education.

			Being able to code opens up new outlets for expression and creation that 
			are extremely valuable in today's computer-oriented world. Learning to code also teaches 
			universal skills such as problem-solving, and self-learning.
		</p>
		<br>
		<div class="features">
			<section>
				<span class="icon major fa-code"></span>
				<h3>What We Teach</h3>						
				<p>
					Our introductory semester will teach students the basics of programming through a combination of <a href="https://scratch.mit.edu/">Scratch</a> projects and computer-less activities. Our second semester will use <a href="https://www.arduino.cc/">Arduinos</a> to show students that code does not only effect what's on computer screens, but has an impact in the physical world that we live in   
					<hr>
					Our curriculum is designed to be fun and exciting, and show that coding can have
					applications in so many areas, such as art, music, business, engineering...
				</p>
			</section>
			<section>
				<span class="icon major fa-lock"></span>
				<h3>Customization</h3>
				<p>
					Since we teach one-on-one, our students have the ability to
					explore their interests, and all the while completing our
					curriculum at their own pace.
					<hr>
					7MC teachers can apply their student's interests to the lesson
					for each week, offering a compelling activity for the student.

					At the end of the semester, students will be able to show off
					what they made, and get to see some of the creativity behind coding.
				</p>
			</section>
			<br>
			<section>
				<span class="icon major fa-cog"></span>
				<h3>Continuing Coding</h3>
				<p>
					One of the main goals of Seven Mile Coding is to make sure those who are intersted in
					coding, can continue to code. Besides our weekly lessons, we have some additional ways to
					meet this goal.
				</p>
			</section>
			<section>
				<span class="icon major fa-diamond"></span>
				<h3>Continuing Coding - More Lessons</h3>
				<p>
					As we expand, students will be able to return for multiple semesters at Seven Mile Coding.
					The one-on-one teaching style means students can start learning from wherever they left off.
				</p>
			</section>
			<section style="border-top:none;">
				<span class="icon major fa-desktop"></span>
				<h3>Continuing Coding - Laptops</h3>
				<p>
					Between our weekly lessons, students can take a laptop home to practice their coding skills.

					After a semester of lessons, we aim to provide passionate, curious students 
					a laptop loaded with resources, so they can continue to learn and make cool stuff.
					<hr>
					In order to meet our goal of equiping students with laptops, we need your help.
					Please visit our <a href="{{ main_urls.support }}" target="_blank">Support page</a> if you want to help make this a reality.
				</p>
			</section>
			<section style="border-top:none;">
				<span class="icon major fa-chain"></span>
				<h3>Continuing Coding - Remote Support Community</h3>
				<p>
					We will have two QA platforms to support students outside the classroom. Students 
					will be able to ask questions and view answers anytime they need.
					<hr>
					One platform is online (Piazza), and the other we are developing to be SMS based.
					This provides ways for teachers and students to interact by asking/answering questions, and discussing coding topics.
				</p>
			</section>
			
		</div>
		<ul class="actions">
			<li><a href="{{ main_urls.support }}" class="button">Support us</a></li>
		</ul>
	</div>
</section>

{% endblock %}