{% extends "teach/base.html" %}
{% block content %}

<!-- Nav -->
<nav id="nav">
	<ul>
		<li><a href="#intro" class="active">This week</a></li>
		<li><a href="#py">Python Tutorials</a></li>
	</ul>
</nav>

<!-- Main -->
<div id="main">

	<!-- Introduction -->
		<section id="intro" class="main">
			<div class="spotlight">
				<div class="content">
					<header class="major">
						<h2>This Week</h2>
					</header>
					<p>
						stuff going on this week
					</p>
				</div>
				<span class="image"><img src="{{ url_for('static', filename='images/pic01.jpg') }}" alt="" /></span>
			</div>
		</section>

	<!-- First Section -->
		<section id="cal" class="main special">
			<header class="major">
				<h2>Calendar</h2>
			</header>
			<iframe src="https://calendar.google.com/calendar/embed?src=umsevenmilecoding%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>

		</section>

</div>
{% endblock %}