{% extends "learn/base.html" %}
{% block content %}

<!-- Nav -->
<nav id="nav">
	<ul>
		<li><a href="#intro" class="active">What is code?</a></li>
		<li><a href="#why-code">Why should you learn how to code</a></li>
		<li><a href="#join">How to join</a></li>
	</ul>
</nav>

<!-- Main -->
<div id="main">

	<!-- Introduction -->
		<section id="intro" class="main">
			<div class="spotlight">
				<div class="content">
					<header class="major">
						<h2>Tutorials</h2>
					</header>
					
		</section>

</div>
{% endblock %}