{% set headerNav = True %}
{% extends "base.html" %}
{% block title %}Members - Seven Mile Coding{% endblock %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
	<div class="inner">
		<h1 class="major">Board</h1>
			<section>
				<p>
					Seven Mile Coding is made up of student volunteers who study computer science at 
					the University of Michigan. Our mentors bring their experience and knowledge directly to the students 
					in the Detroit community. Seven Mile Coding is a part of <a href="http://sevenmilemusic.org/" target="_blank">Seven Mile Music</a>, 
					a nonprofit organization that works to provide accessible education to youth in Detroit.
				</p>
				<div class="box alt">
					<div class="row uniform">
						<div class="3u"><span class="image fit"><img src="images/mav.jpg" alt="" /></span>
							<h3>Maverick Cook - Chair</h3>
							<p>
								Maverick is a senior in computer science at the University of Michigan.
								After being introduced to coding in college, he wished he 
								learned how to code earlier, and has been working to make
								coding more accessible ever since.
							</p>
						</div>
						<div class="1u"></div>
						<div class="3u"><span class="image fit"><img src="images/tara.jpg" alt="" /></span>
							<h3>Tara Safavi - Director of Teaching</h3>
							<p>
								Tara is a PhD student in computer science at the University of Michigan.
								During her time at college, Tara has dedicated time to teaching and mentoring fellow students 
								in multiple computer science classes.
							</p>
						</div>
						<div class="1u"></div>
						<div class="3u"><span class="image fit"><img src="images/ritam.jpg" alt="" /></span>
							<h3>Ritam Mehta - Director of Curriculum</h3>
							<p>
								A senior in computer science at the University of Michigan, Ritam has
								spent his summers developing computer science curriculum for the City
								of New York. 
							</p>
						</div>
					</div>
				</div>
				<h3>Contact us</h3>
				<a href="mailto:{{email}}">{{email}}</a>
			</section>

	</div>
</section>
{% endblock %}