{% set headerNav = True %}
{% extends "base.html" %}
{% block title %}Support - Seven Mile Coding{% endblock %}
{% block content %}
<!-- Main -->
<section id="main" class="wrapper">
	<div class="inner">
		<h1 class="major">Support Seven Mile Coding</h1>						
		<p>
			This is our first semester of Seven Mile Coding, so your support is especially 
			needed so we can make this program a success. We appreciate any contribution.
		</p>

		<h2>Fundraising Goals</h2>
		<br>
		<h1 style="text-align:center; color:#b74e91">$10,000</h1>
		<hr></hr>
		We are trying to raise $10,000 for the Fall semester of 2017. This covers the cost for
		tech equipment that will last multiple semesters, as well as transportation for the teachers
		commuting between Ann Arbor and Brightmoor.
		<br><br>
		<a name="donate"></a>
		<h2>Donate</h2>
		<p>
			If you would like to help support Seven Mile Coding, here are some options. Please make sure
			to indicate your donation is for Seven Mile Coding in any appropriate field (such as comments).
			For other donation methods, email us at <a href="mailto:umsevenmilecoding@gmail.com">umsevenmilecoding@gmail.com</a>.
		</p>
		<a href="https://causes.benevity.org/projects/113477" class="button">Benevity</a><br/><br/>
		<a href="https://venmo.com/umsevenmilecoding" class="button">Venmo @umsevenmilecoding</a><br/><br/>
		<p>If your employer uses Benevity for donation matching, please search for Seven Mile Coding
			on your company's Benevity site (ex. <a href="https://apple.benevity.org/cause/840-475343430">apple.benevity.org</a>) to take advantage of the matching.</p>
		<br>
		<a name="costs"></a>
		<h2>Breakdown (2017 Fall Semester)</h2>
		<br>
		<table>
			<thead>
				<tr>
					<th>Category</th>
					<th>Description</th>
					<th>Quantity</th>
					<th>Price</th>
					<th>Total</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>Laptops</td>
					<td>Windows 10 with at least 4gb of RAM</td>
					<td>x30</td>
					<td>$270</td>
					<td>$8100</td>
				</tr>
				<tr>
					<td>Minivan</td>
					<td><a href="https://ltp.umich.edu/fleet/rentals.php">Rental from Umich</a> once a week for commuting</td>
					<td>x26 (13 weeks * 2 vans/trip)</td>
					<td>$63</td>
					<td>$1638</td>
				</tr>
				<tr>
					<td>Web Hosting</td>
					<td>$5/month hosting and $1/month domain</td>
					<td>x12</td>
					<td>$6</td>
					<td>$72</td>
				</tr>
				<tr>
					<td>Misc</td>
					<td>Extension cords, chargers, flash drives</td>
					<td>N/A</td>
					<td>N/A</td>
					<td>$190</td>
				</tr>
			</tbody>
		</table>
		<p>
			Some of these prices are variable, so if prices drop, extra donations will propogate to future semester expenses.
			
			Seven Mile Coding cares about your donations. If you want to confirm your donation has been
			spent appropriatley, please check out our expense reports.
		</p>
		
		
	</div>
</section>

{% endblock %}